<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585193900578-j8v0duna1d9ra71s1g7f1rlo8itd08ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585193900578-j8v0duna1d9ra71s1g7f1rlo8itd08ra</string>
	<key>API_KEY</key>
	<string>AIzaSyBPfYn-mTykT7WINLCwgb27nJU1SofC_hk</string>
	<key>GCM_SENDER_ID</key>
	<string>585193900578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-app-9e174</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-app-9e174.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585193900578:ios:40abcc213cf64e6ba1587b</string>
</dict>
</plist>